p{
    font-size: calc(100% + .25rem);
    line-height: calc(100% + .75rem);
}

blockquote p  {
    font-size: calc(100% + .15rem);
    line-height: calc(100% + .5rem);
    padding-left: 3rem;
}

blockquote h6  {
  padding-left: 3rem;
  font-family: sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: .1rem;
}

blockquote::before  {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  float: left;
  padding-top: 1.25rem;
}

blockquote:after {
  content: no-close-quote;
}

blockquote cite  {
   padding-left: 3rem;
   font-size: .9rem;
   line-height: 1rem;
   font-family: sans-serif;
   font-style: normal;
}

cite  {

   font-family: sans-serif;
   font-style: normal;
   font-weight: 700;
}

/* Adjust for author, date, etc. at intro */
.downsize p 	{
    font-size: calc(100% + 0rem);
    line-height: calc(100% + .25rem);
    margin: 0 0 .25rem 0;	
}

h1  {
  font-size: calc(100% + .925rem);
}

h2  {
  font-size: calc(100% + .85rem);
}

h3  {
  font-size: calc(100% + .775rem);
}

h4  {
  font-size: calc(100% + .7rem);
}

h5  {
  font-size: calc(100% + .625rem);
}

h6 	{
	font-size: calc(100% + .5rem);
}

header h2   {
  margin-bottom: 1.35rem;
}

.hentry h2  {
  font-size: 1.35rem;
  padding: .85rem;
}

.intro h1   {
  margin-bottom: .45rem;
}

.intro h2   {
  font-size: calc(100% + .5rem);
  font-style: italic;
  font-weight: normal;
  margin-top: .15rem;
  font-family: serif;
}





.figure-caption p {
   font-size: .95rem;
   margin: 0;
   padding: 0 .25rem;
   text-indent: 0;
   line-height: 1.35rem;    
}

@media screen and (min-width: 640px) {
	.figure-caption p {

	}
}

li.hentry p {
  font-size: 1rem;
  line-height: 1.35rem;
}

.entry-excerpt p::after  {
  content: "...";
}

.sidebar h3   {
  font-size: calc(100% + 0rem);
}










