<!-- Display an image with text that wraps - uses floated images --> 
<div class="clearfix block">
   <div class="article-imagerow">
      <figure class="figure <perch:blog type="select" id="choose_arrange" label="Choose here for Text/left-Main Image/right, or Main Image/left - Text/right." options="Image on right with wrapping text|figcap-rt, Image on left with wrapping text|figcap-lft" allowempty="false" html="true" help="Small screen: image followed by text. Large screen: image and text side-by-side." />" >
         <img src="<perch:blog type="image" id="image_rt_art" label="Image" title="true" bucket="images" />" alt="<perch:blog type="text" id="alt" label="Description" help="This will not appear on the page. Enter a short, basic description for screen readers and improved accessibility and search ranking."  required="true" />" 
                  sizes="(min-width: 720px) 540,
                         (min-width: 540px) 360,
                         100vw"
               srcset="<perch:blog type="image" id="image" label="Image" width="360"> 360w,
               <perch:blog type="image" id="image" label="Image" width="540"> 540w,
               <perch:blog type="image" id="image" label="Image" width="720"> 720w">

            <!--Begin caption and citation area-->
            <figcaption class="figure-caption">
               <perch:if exists="figure_caption">
                  <p><perch:blog id="figure_caption" type="smarttext" label="Caption for the image" help="The caption appears beneath the image. For a copyright symbol, type this: &amp;copy;" html="true" /></p>
                  </perch:if> 
            </figcaption>
      <!--End Caption and Citation area-->
      </figure>
   </div>
      <div class="float-textrow">
         <perch:blog type="textarea" id="figtext" label="Add content here" html="true" markdown="true" editor="markitup" size="m" help="Double-Return for a new paragraph; Spacebar-Spacebar-Return for a single line; &lt;hr&gt; on its own line adds a horizontal rule." />
      </div>
</div>
